<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cm.podd.urban.report" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="org.cm.podd.urban.report.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDqb1V6pkz3mazlS_JRDfw89PnxZhlqzy4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1655221314690530"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.report.ReportNewActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".activity.BaseActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>
        <activity
            android:name=".activity.report.ReportListActivity"
            android:label="@string/title_activity_report_list"
            android:parentActivityName=".activity.BaseActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_guide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserLoginActivity"
            android:label="@string/title_activity_user_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="dodd" android:host="install-app?q=" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="36e833365a5bd6131977037cd9e6d1f8067c2198" />

        <activity
            android:name=".activity.profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.RegisterCompleteActivity"
            android:label="@string/title_activity_register_complete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.RegisterEmailActivity"
            android:label="@string/title_activity_register_email"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.report.ReportDetailActivity"
            android:label="@string/title_activity_report_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.report.ReportFormActivity"
            android:label="@string/title_activity_form"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.report.SupportActivity"
            android:label="@string/title_activity_dialogue_support"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginCodeActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".activity.EditPasswordActivity"
            android:label="@string/title_activity_edit_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BlankActivity"
            android:label="@string/title_activity_blank"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PolicyWebviewActivity"
            android:label="@string/title_activity_policy_webview" >
        </activity>
        <activity
            android:name=".activity.AboutWebviewActivity"
            android:label="@string/title_activity_about_webview" >
        </activity>
        <activity
            android:name=".activity.ViewReportLargePhotosActivity"
            android:label="@string/title_activity_about_webview" >
        </activity>

        <receiver
            android:name=".service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.cm.podd.report" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.GcmIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
